{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{#  more information about the licensing of this file. #}

<text> {{_("Problem type: {}".format(friendly_type))}}</text>
<pre><text>{{_(
"This problem type is designed to allow many types
of mathematical answers format.
Including:
Mathematical expressions: 5x+3
Numerical values with tolerance: 88.91
Equations: y=3x
Inequalities: x<5+y
If you want to encode a vector, a matrix,
or some intervals, please refer to other
problem types.

Note:
If you use tolerance, it is expressed as
absolute value, not relative."
)}}</text></pre>

<text> {{ _("General Remarks:") }}</text>
<pre><text>{{_(
"e always represents the basis of natural logarithms.
i always represents the imaginary constant.
Do not use these letters to represent variables.

log means log base 10.
ln means natural logarithm.
log_a means log with base a.

Decimals are represented using .
Separations are represented using ,

When a letter is followed by an opening parenthesis,
it is interpreted as \"function of...\"
For example, x(2y+3) means x evaluated at 2y+3
If you want a multiplication instead,
use x*(2y+3) or (2y+3)x.
This helps differentiate variables and functions."
)}}</text></pre>
