{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{#  more information about the licensing of this file. #}

<text> {{_("Problem type: {}".format(friendly_type))}}</text>
<pre><text>{{_(
"This problem type is designed for matrix such as
[a,b:c,d] and vectors such as [a,b,c].
Elements must be mathematical
expressions or numerical values.
If you want an equation or intervals...
Please refer to other problem types.

Notes:
Simply use : to design a matrix or don't
if you want to design a vector.

[] symbols can be added or removed around
the entire matrix or vector, such as [a,b:c,d]
or a,b:c,d without impact.

Vectors of size 2 such as [a,b] are perfect
for cartesian points and size 3 such as [a,b,c]
for spatial points."
)}}</text></pre>

<text> {{ _("General Remarks:") }}</text>
<pre><text>{{_(
"e always represents the basis of natural logarithms.
i always represents the imaginary constant.
Do not use these letters to represent variables.

log means log base 10.
ln means natural logarithm.
log_a means log with base a.

Decimals are represented using .
Separations are represented using ,

When a letter is followed by an opening parenthesis,
it is interpreted as \"function of...\"
For example, x(2y+3) means x evaluated at 2y+3
If you want a multiplication instead,
use x*(2y+3) or (2y+3)x.
This helps differentiate variables and functions."
)}}</text></pre>
