{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{#  more information about the licensing of this file. #}

<div id="task_alert_{{inputId}}" class="task_alert_problem"></div>

<div class="btn-group pull-right">
    {% if hints %}
        <a type="button" class="btn btn-secondary math-hint-btn" data-toggle="modal" data-target=".math_modal_{{inputId}}" data-problemid="{{inputId}}">{{ _("Hint") }}</a>
    {% endif %}
    <a type="button" class="btn btn-secondary" onclick="math_add_answer('{{inputId}}', '')">{{ _("Add answer") }}</a>
</div>

{% if hints %}
    <div class="modal fade math_modal math_modal_{{inputId}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myLargeModalLabel">{{ _("Hint") }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("Close") }}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div style="min-height:40px">{{ header | safe}}</div>
<label class="col-sm-2 control-label">{{_("Format example: "+format)}}</label>
<div id="math-fields-{{inputId}}">
</div>

<script>
    $(function() {
        homepath = '{{get_homepath()}}';
        math_add_answer('{{inputId}}', '');
    });
</script>
